.btn-primary {
    color: black !important;
    background-color: rgba(247, 195, 37) !important;
}
.btn-primary:hover {
    filter: brightness(0.9) !important;
}
.btn-outline-secondary:hover {
    background: #f7c325 !important;
}
#login {
    text-align: center;
}
#bell, #message, #avatar {
    filter: brightness(1.3) !important;
}
.mid {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.postbox {
    width: calc(100% - 40px);
}
.btn-secondary {
    color: black !important;
    background-color: white !important;
}
.portfolioNumbers {
    color: green;
}